body {
    margin: 0;
    color: teal;
}

/*********** HEADER ************/

header {
    text-align: center;
    padding: 10px;
    background-color: teal;
    color: white;
}

h1 {
    margin: 0;
}

/*********** LISTS ************/
#todo-lists {
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
}

.list {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

.list-title {
    margin-left: 20px;
}
